/*ini css*/

.nav{
    display: flex;
    justify-content: space-between;
}

nav>section{
    display: flex;
}

.logo-icon{
    height: 50px;
    width: 50px;
    border: 10px solid black;
}

.nav-item{
    border: 1px black ;
}

.banner-container{
    height: ;
}